body {
  background-color:var(--default-bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  background-color: var(--default-bg-color);
  justify-content: center;
  align-items: center;
  height: 10vh;
  padding: 0 32px;
  gap: 50px;
}



a {
  text-decoration: none;
  color: var(--produtos-p);
  transition: 0.3s;
}

a:hover {
  color: #ff6600;
  opacity: 0.8;
}

.nav-list {
  /* "ul" */
  display: flex;
  list-style: none;
  font-size: 24px;
 
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  
}

.div-botao {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.botao-cor {
  transform: scale(1.5);
  cursor: pointer;
  margin: 20px;
}

.logo-img {
  height: 65px;
  /* logo na aba home */
  width: auto;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding-bottom: 180px;
  /* espaço para o rodapé não cobrir conteúdo */
}

.bem-vindo {
  background-image: url(imagem-bem-vindo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 690px;
  position: relative;
  /* IMAGEM BEM VINDO */
}

.overlay-bem-vindo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8;
  display: flex;
  color: #ff6600;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  /* OVERLAY IMAGEM BEM VINDO */
}


/* MUITO PRAZER */

.muito-prazer {
  display: flex;
  padding: 40px 4%;
}

.info-muito-prazer {
  padding: 60px 0px;
}

.info-muito-prazer h2 {
  color: #FF6600;
  font-size: 45px;
  line-height: 40px;
  margin-bottom: 20px;
}

.info-muito-prazer h2 span {
  color: #FF6600;
  display: block;
}

.info-muito-prazer p {
  text-align: justify;
  font-size: 20px;
}

.btn-saiba-mais button {
  display: flex;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 15px;
  border: 0;
  border-radius: 45px;
  background-color: #FF6600;
  transition: 0.4s;
}

.btn-saiba-mais button a {
  color: white;
  font-weight: 600px;
}

.btn-saiba-mais button:hover {
  transform: scale(1.05);
}

/* GALERIA DE FOTOS */

.titulo-galeria-de-fotos h2 {
  text-align: center;
  font-size: 45px;
  font-weight: 600px;
  color: #FF6600;
  padding: 40px 0px;
}

.div-pai-galeria {
  width: 60%;
  margin: 2px auto;
  padding: 30px 0px;
}

.div-filho-galeria {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  gap: 0.5rem;
}

.imgGaleria {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.itemGaleria {
  overflow: hidden;
}

.item01 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 5;
}

.item02 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}

.item03 {
  grid-column: 5 / span 4;
  grid-row: 1 / span 5;
}

.item04 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 3;
}

.item05 {
  grid-column: 1 / span 5;
  grid-row: 6/ span 3;
}

.item06 {
  grid-column: 6 / span 3;
  grid-row: 6 / span 3;
}


/* FOOTER/INFORMAÇÕES DA EMPRESA*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


footer {
  background-color: #000;
  color: #FF6600;
  text-align: center;
  padding: 30px 20px 20px;
  width: 100%;
}

footer .empresa {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
}

footer .info {
  margin: 8px 0;
  font-size: 1em;
}

footer .info span {
  display: block;
  color: #ccc;
}

footer .info .destaque {
  color: #FF6600;
  font-weight: bold;
}

footer .direitos {
  margin-top: 25px;
  font-size: 0.9em;
  color: #888;
}


.botao-circular {
  width: 50px;
  height: 50px; 
  background-color: #000000; 
  border: none;
  border-radius: 50%; 
  cursor: pointer; 
  font-size: 16px;
  color: white; 
  display: flex; 
  align-items: center;
  justify-content: center; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: background-color 0.3s;
 border-radius: 10px;
 right: 15px;
 padding: 5px;
}
:root {
  --default-bg-color: #ffffff;
  --font-color: #ff6600;
  --header-font-color:  #ff6600;
  --primary-bg-color:  #000000;
  --bw-footer-bg-color: #ff6600;
  --produts-bg: #ff6600;
  --produtos-p: #000000; 
  --nav-bg: #ffff; 
  --ahref: #2c2c2c; 
  --ahref-hover: #000000;
}
.dark-mode {
  --default-bg-color: #000000;
  --font-color: #ff6600;
  --header-font-color:  #ff6600;
  --primary-bg-color:  #000000;
  --bw-footer-bg-color: #ff6600;
  --produts-bg: #ff6600;
  --produtos-p: #ffffff; 
  --nav-bg: #000000; 
  --ahref: #ffff; 
  --ahref-hover: #331414; 
}


